<p style="color: green"><%= notice %></p>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h2 class="display-5 fw-bold"><%= @post.title %></h1>
    <h4 class="display-5">by: <%= @post.name %></h4>
    <p class="col-md-8 fs-4">
      <%= @post.content %>
    </p>
    <br/>
    <div>
      <%= link_to "Edit this post", edit_post_path(@post), class:'btn btn-secondary' %> |
      <%= link_to "Back to posts", posts_path, class:'btn btn-dark' %>
      <br><br>
      <%= button_to "Destroy this post", @post, method: :delete, class:'btn btn-danger' %>
    </div>
  </div>
</div>
